acnportal @ git+https://github.com/zach401/acnportal@3c76892d78ae7cbdca9017f8e2a4e3114198deba
adacharge @ git+https://github.com/caltech-netlab/adacharge@b7d5fddb25e842333fc2b404d32dd3477ca47297
altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cvxpy
cycler
deepdiff
ecos
exceptiongroup
fonttools
gitdb
GitPython
greenlet
idna
iniconfig
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
Mosek
networkx
numpy
ordered-set
osqp
packaging
pandapower
pandas
Pillow
pluggy
polars
protobuf
pyarrow
pydeck
pyparsing
pytest
pytz
pywin32
qdldl
referencing
requests
rich
rpds-py
scikit-learn
scipy
scs
seaborn
smmap
SQLAlchemy
tenacity
threadpoolctl
toml
tomli
toolz
tqdm
typing_extensions
tzdata
urllib3
watchdog
wincertstore